[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dlt = {extras = ["duckdb"], version = "*"}
tqdm = "*"
httpx = "*"
setuptools = "<81"
xmltodict = "*"

[dev-packages]
ipykernel = "*"
prettyprint = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
